### Build and IDE Directories ###
.gradle/
build/
.idea/
*.iml
*.ipr
*.iws
out/
bin/

# Specific IntelliJ IDEA Configuration Files
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

# Eclipse Files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans Files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

### OS-Specific Files ###
# MacOS
.DS_Store

# Temporary and Backup Files
*.tmp
~$*

### Executables and Installers ###
*.exe
*.msi

### Compressed Files ###
*.zip
*.rar
*.tgz

### Media Files ###
*.jpg
*.jpeg
*.png
*.jfif
*.webp
*.heic
*.mp3
*.mov
*.mkv
*.mp4

### Documents ###
*.pdf
*.doc
*.docx

### Data Files ###
*.csv
*.v1

### Ignore Specific Folders ###
ResumeDbAppJPASpring/
lasresume/
andersen_trainee/
dev-spring-tool/
task_management/
user_management/
turbox/
zoom-cloud-meetings-5-12-3.exe
zubi/
